{% extends 'admin_content.html.twig' %}

{% block main %}
<main>
    <table id="table" class="ui celled table" style="width: 75%">
        <caption>
            <h2>Sessions</h2>
        </caption>
        <thead>
            <tr>
                <th>Username</th>
                <th>Session ID</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for key in data %}
            <tr>
                {% for item in key %}
                <td>{{ item }}</td>
                {% endfor %}
                <td><button value={{key[1]}}>Delete Session</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<script>
    const table = document.getElementsByTagName('table')[0];
    const buttons = table.getElementsByTagName('button');

    for (let button of buttons) {
        button.addEventListener('click', (clickEvent) => {
            fetch('?' + new URLSearchParams({
                delete: clickEvent.target.value,
            })).then(() => {
                document.location.reload();
            });
        });
    }
</script>
{% endblock %}