{% extends 'admin_content.html.twig' %}

{% block main %}
<main>
    <h1>{{page_title}}</h1>
    <h2>Users</h2>
    <table>
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Role</th>
            <th>Status</th>
        </tr>
        {% for key in data %}
        <tr>
            {% for item in key %}
            <td>{{ item }}</td>
            {% endfor %}
            <td><button value={{key[1]}} id="button-delete">Delete User</button></td>
        </tr>
        {% endfor %}
    </table>
</main>
<script>
    const table = document.getElementsByTagName('table')[0];
    const buttons = table.getElementsByTagName('button');

    for (let button of buttons) {
        button.addEventListener('click', (clickEvent) => {
            fetch('?' + new URLSearchParams({
                delete: clickEvent.target.value,
            })).then(() => {
                document.location.reload();
            });
        });
    }
</script>
{% endblock %}