{% extends 'base.html.twig' %}

{% block body %}

<body>
    <header>
        <h1>Header</h1>
        <nav>
            <ul>
                <li><a href="./users">Users</a></li>
                <li><a href="./sessions">Sessions</a></li>
            </ul>
        </nav>
        <button id="log-out-button">Log out</button>
    </header>
    {% block main %}{% endblock %}
    <script>
        const button = document.getElementById('log-out-button');

        button.addEventListener('click', () => {

            document.cookie = `sid=0; max-age=0`;
            console.log(document.cookie)
            document.location.href = '.';
        });
    </script>
</body>
{% endblock %}