{% extends 'base.html.twig' %}

{% block body %}

<body>
    <header>
        <h1>Header</h1>
        <nav>
            <ul>
                <li><a href="./users">Users</a></li>
                <li><a href="./sessions">Sessions</a></li>
            </ul>
        </nav>
        <button id="log-out-button">Log out</button>
    </header>
    {% block main %}{% endblock %}
    <script>
        const button = document.getElementById('log-out-button');

        button.addEventListener('click', () => {

            fetch('sign-out', {
                    method: 'POST',
                    mode: 'cors'
                })
                .then(() => {
                    document.cookie = `sid=0; max-age=0`;
                    document.location.href = '.';
                });
        });
    </script>
</body>
{% endblock %}