{% extends 'base.html.twig' %}
{% block content_main %}
<main>
    <h1>Welcome!</h1>
    <form class="form" id="form-login" name="login">
        <label>Username</label>
        <input name="username" required />
        <label>Password</label>
        <input name="password" type="password" required />
        <div>
            <button name="sign-in" type="submit">Sign In</button>
            <button name="sign-up" id="sign-up">Sign Up</button>
        </div>
        <a href="reset-password">Reset password</a>
    </form>
</main>
<script>
    const form = document.getElementById('form-login');
    const signUpButton = document.getElementById('sign-up');

    form.addEventListener('submit', (submitEvent) => {

        submitEvent.preventDefault();

        const formData = new FormData(form);

        fetch(document.location.href + 'sign-in', {
                method: 'POST',
                mode: 'cors',
                body: formData
            })
            .then((response) => response.json())
            .then((data) => console.log(data.status));
    });

    signUpButton.addEventListener('submit', (clickEvent) => {
        clickEvent.preventDefault();
        document.location.href += 'sign-up';
    });
</script>
{% endblock %}