<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            position: relative;
        }

        main {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, 50%);
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            width: 375px;
            height: 150px;
            border-radius: 2.5px;
            background-color: rgba(0, 0, 255, .2);
            box-shadow: rgb(0 0 0 / 50%) 0px 0px 12px -2px;
            padding: 15px 0;
        }

        form label,
        input {
            height: 20px;
            display: block;
            width: 70%;
            border: none;
            outline: none;
        }
    </style>
</head>

<body>
    <main>
        <h1>Welcome!</h1>
        <form class="form" id="form-login" name="login">
            <label>Username</label>
            <input name="username" required />
            <label>Password</label>
            <input name="password" type="password" required />
            <div>
                <button name="sign-up" id="sign-up">Sign Up</button>
                <button name="sign-in" type="submit">Sign In</button>
            </div>
            <a href="reset-password">Reset password</a>
        </form>
    </main>
    <script>
        const form = document.getElementById('form-login');
        const signUpButton = document.getElementById('sign-up');

        form.addEventListener('submit', (submitEvent) => {

            submitEvent.preventDefault();

            const formData = new FormData(form);

            fetch(document.location.href, {
                method: 'POST',
                mode: 'cors',
                body: formData
            });
        });

        signUpButton.addEventListener('click', (clickEvent) => {
            clickEvent.preventDefault();
            document.location.href += 'sign-up';
        });
    </script>
</body>

</html>