{% extends 'base.html.twig' %}
{% block body %}

<body>
    <main>
        <form class="form">
            <p>{{ message }}</p>
            <a href=".">Go back</a>
            <button id="log-out-button">Log out</button>
        </form>
    </main>
    <script>
        const button = document.getElementById('log-out-button');

        button.addEventListener('click', () => {

            fetch('sign-out', {
                    method: 'POST',
                    mode: 'cors'
                })
                .then(() => {
                    document.cookie = `sid=0; max-age=0`;
                    document.location.href = '.';
                });
        });
    </script>
</body>
{% endblock %}