<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <style>
        body {
            height: 85vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            width: 375px;
            height: 150px;
            border-radius: 2.5px;
            background-color: rgba(0, 0, 255, .2);
            box-shadow: rgb(0 0 0 / 50%) 0px 0px 12px -2px;
            padding: 15px 0;
        }

        form label,
        input {
            height: 20px;
            display: block;
            width: 70%;
            border: none;
            outline: none;
        }
    </style>
</head>

<body>
    <main>
        <h1>Reset Your password</h1>
        <form class="form" id="form-reset" name="login">
            <label>Email</label>
            <input name="username" required />
            <button name="reset" type="submit" id="reset">Reset</button>
            <a href=".">Go back</a>
        </form>
    </main>
    <script>
        const form = document.getElementById('form-reset');

        form.addEventListener('submit', (submitEvent) => {

            submitEvent.preventDefault();

            const formData = new FormData(form);

            fetch(document.location.href, {
                method: 'POST',
                mode: 'cors',
                body: formData
            });
        });
    </script>
</body>

</html>