{% extends 'base.html.twig' %}
{% block body %}

<body>
    <main>
        <h1>Reset Your password</h1>
        <form class="form" id="form-reset" name="login">
            <label>Email</label>
            <input name="email" type="email" required />
            <button name="reset" type="submit" id="reset">Reset</button>
            <a href=".">Go back</a>
        </form>
    </main>
    <script>
        const form = document.getElementById('form-reset');

        form.addEventListener('submit', (submitEvent) => {

            submitEvent.preventDefault();

            const formData = new FormData(form);

            fetch(document.location.href, {
                method: 'POST',
                mode: 'cors',
                body: formData
            });
        });
    </script>
</body>
{% endblock %}