{% extends 'user_content.html.twig' %}

{% block main %}
<main>
    <table>
        <tr>
            <th>Username</th>
            <th>Status</th>
        </tr>
        {% for key in data %}
        <tr>
            {% for item in key %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}