{% extends 'user_content.html.twig' %}

{% block main %}
<main>
    <table id="table" class="ui celled table" style="min-width: 500px">
        <caption>
            <h2>Users</h2>
        </caption>
        <thead>
            <tr>
                <th>Username</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for key in data %}
            <tr>
                {% for item in key %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}